﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}
body {
    padding: 0;
    margin: 0;
    /* background-color: #e6ffe6; */
}
.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/*style1*/
.mainDiv{
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    margin:2px;
}
.mainRow{
    height:340px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
  width: auto;
  margin: auto;
}
.carousel-inner > .item > h3  {
  margin-left: 100px;
  align-content: center;
}  
.carousel-inner > .item > h3,
.carousel-inner > .item > iframe  {
  margin:auto;
  align-content: center;
}

.carousel-control.left,
.carousel-control.right { 
    background-image: none;
}
.btn-space {
    margin-right: 5px;
}
/*style2*/

#info {
    position    : absolute;
    top     : 0px;
    width       : 100%;
    padding     : 5px;
    text-align  : center;
}
#info a {
    color       : #ffcccc;
    text-decoration : none;
}
#info a:hover {
    text-decoration : underline;
}
.container-canvas {
    width       : 100%;
    height      : 100%;
    overflow    : hidden;
    padding     : 0;
    margin      : 0;
    -webkit-user-select : none;
    -moz-user-select    : none;
}
.visible-xs .CameraAction {
    float: none;
    margin-bottom: 5px;
}
.smallBtn button {
    margin-left: 6px !important;
    border-radius: 0px !important;
}
.smallBtn input[type='button'] {
    margin-left: 6px !important;
    border-radius: 0px !important;
}
#motionPathForm {
    padding-top: 13px;
    text-align: center;
}
#myCarousel .carousel-indicators {
    margin-bottom: 27px;
}
#smallBtnSouds button {
    margin-left: 30px;
}
.viewImg {
    display:inline-block !important;
    margin-bottom:20px;
}
.noPadding {
    padding-left: 0px;
    padding-right: 0px;
}
.noPaddingLeft {
    padding-left: 0px;
}
.noPaddingRight {
    padding-right: 0px;
}
.wrapperDiv {
    width:80%;
    margin:auto;
}
.wrapperDiv2 {
    width:74%;
    margin:auto; 
}
.wrapperDiv3 {
    width:86%;
    margin:auto; 
}
.carousel-indicators li {
    display: none;
}
.carousel-control.left, .carousel-control.right {
    /*border: 2px solid #000 !important;*/
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left {
    position: absolute;
    top: 50%;
    right: 50%;
    left: 0;
    z-index: 5;
    display: inline-block;
}
@media (min-width: 768px) {
    .modal-sm {
        width: 360px;
    }
    #musicals {
        margin-left: 5px;
    }
    .carousel-control {
        width: 10%;
    }
}

@media screen and (max-width: 768px) {
    .mainRow {
	   height: auto !important;
    }
    .mainDiv {
        width: 100% !important;
    	height: auto !important;
    	min-height: 340px !important;
        margin-bottom: 10px !important;
    }
    #MovieSelectionList {
        /*margin-left: 70px;*/
    }
    #myCarouse2 .carousel-indicators {
        bottom: -22px;
    }
    #myCarousel .carousel-indicators {
        bottom: -20px;
    }
    .selectpicker {
        margin-bottom: 5px;
    }
    .carousel-control {
        width: 13%;
    }
    #myCarousel .carousel-indicators {
        margin-bottom: 10px; 
        padding-bottom: 10px;
    }
    .btn {
        padding: 6px !important;
    }
    /*#MovieSelectionList {
       margin-left: 60px;
    }*/
}
@media screen and (max-width: 480px) {
    .camera-action-wrap, .camera-image-wrap {
        width: 100% !important;
    }
    .camera-image-wrap img { 
        height: auto !imporatnt;
        margin-bottom: 20px;
        max-width: 100%;
        margin-left: 0 !important;
    }
}
@media screen and (max-width: 320px) {
    #MovieSelectionList {
        margin-left: 5px;
    }
}

