{% extends "app/layout.html" %}
{% load static %} 
{% block content %}

<h4><img src="https://cdn2.iconfinder.com/data/icons/new-year-resolutions/64/resolutions-19-128.png" style="width:80px;height:80px;"/>Custom Project </h4>


<style>
    .mainWFDiv{
        height:500px;
        border-radius:10px;
        overflow:auto;
	padding: 15px;
    }
    .prjHeader{
        font-family:'Comic Sans MS';
        font-style:italic;
        font-size:12x;
        font-weight:600;
    }
    .prjHeaderIcons{
        width:25px;
        height:25px;
        float:right;
        margin-left:5px;
        cursor: pointer;
    }
    .prjHeaderIcons img {
      width: 100%;
      height: 100%;
    }
    .inpButtons{
        width:35px;
        height:35px;
        margin-right:5px;
        
    }
.panel > .panel-heading {
    background-image: none;
    background-color:Highlight;/*Aquamarine*/
    color: sandybrown;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: forestgreen;
}

li{
    font-family:helvetica;
    list-style-type:none;
}
.add-new-btn a { margin-bottom:10px; color:#fff; display:inline-block; } 
.add-new-btn a:focus { outline: 0; }
.add-new-btn .add-new-img { margin-right:5px; }
.form-control { margin-bottom: 10px; }
.form-control.error { border: solid 1px #b94a48; }
.errorMsg { color: #b94a48; font-size: 12px; }

@media screen and (max-width: 768px) {
  .mainWFDiv { height: auto; }
}

</style>

<style>
    body{padding:0;margin:0;}
    .container-canvas{
      margin-top: 10px;
      margin-bottom:10px;
      width:750px;
      height:200px;
      border: 2px solid #000000 !important;
      margin-left: 1px;
    }
    #toolbar{
      width:350px;
      height:35px;
      border:solid 1px blue;
    }
    .lineSwitch { 
      margin-left: 10px; 
      display: inline-block;
      font-size: 12px;
      font-weight: 600;
      color: #3c3c3c;
      -webkit-text-stroke-width: 0;
      -webkit-text-stroke-color: #3c3c3c; 
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
      margin: 0;
      top: 5px;
    }
    .switch input {display:none;}
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 4px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    input:checked + .slider {
      background-color: #2196F3;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(18px);
      -ms-transform: translateX(18px);
      transform: translateX(18px);
    }
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    .slider.round:before {
      border-radius: 50%;
    }
</style> 
<!-- {{coordinate_dic}} -->
<script>
    var saveChanges = false;
    var saveArray = new Array();
    window.onbeforeunload = function (e) {
      if(saveChanges) {
        var message = "Are you sure you want leave?";
        e.returnValue = message;
        return message;
      }
      return;
    };

    $(function () {
      var coordinatesJson = {};
      var coordinateLines = {};

      var jsonReplace = "{{coordinate_dic.inputs}}".replace(/&quot;/g,"\"");
      var linesReplace = "{{coordinate_dic.lines}}".replace(/&quot;/g,"\"");

      coordinatesJson = $.parseJSON(jsonReplace);
      coordinateLines = $.parseJSON(linesReplace);

      var $DragItem = $("#house");
      var varEleName = 0;
      var imgarr = new Array();
      var tmpindx = 1;
      var imglookup = new Array();
      $(".inpButtons").each(function () {
          var image1 = new Image();
          var inpid = $(this).attr('id');
          $inpBtns = $('#' + inpid);
          $inpBtns.draggable({
              helper: 'clone',
              appendTo: '.kineticjs-content',
              scroll: false,
              revert: true
          });
          image1.src = $(this).attr('src');
          imgarr[tmpindx] = image1;
          imglookup[inpid] = tmpindx;
          tmpindx++;
      });

      $('.inpButtons').on('mousedown', function () {

          var d = new Date();
          var n = d.getTime();
          
          var trigger_id = $(this).attr('id');
          $DragItem = $('#' + trigger_id);

          var newName = Math.floor((Math.random() * 100) + 100).toString() + ".png";
          $DragItem.data("imgId", trigger_id); // key-value pair        
          $DragItem.data("url", newName); // key-value pair
          $DragItem.data("width", "32"); // key-value pair
          $DragItem.data("height", "33"); // key-value pair
          $DragItem.data("image", imgarr[imglookup[trigger_id]]); // key-value pair
          $DragItem.data("varName", varEleName++); // key-value pair
          $DragItem.data("coorid", n); // key-value pair
      });

      // get the offset position of the kinetic container
      var $stageContainer = $('#container');
      var stageOffset = $stageContainer.offset();
      var offsetX = stageOffset.left;
      var offsetY = stageOffset.top;

      var hoverStartShape = undefined;

      // create the Kinetic.Stage and layer
      var stage = new Kinetic.Stage({
          container: "container",
          id:"TempCanvas",
          width: 746,
          height: 196
      });

      var layer = new Kinetic.Layer();
      stage.add(layer);          

      // make the Kinetic Container a dropzone
      $stageContainer.droppable({
          drop:dragDrop,
      });

      $('#accordion .panel-collapse').on('shown.bs.collapse', function () {
        $('.panel-collapse').find('.container-canvas').html('');
        LoadCanvas($(this));
      });

      function LoadCanvas(ele) {
        $stageContainer = $(ele).find('.container-canvas');
        stageOffset = $stageContainer.offset();
        offsetX = stageOffset.left;
        offsetY = stageOffset.top;

        var CnvPrjID = $stageContainer.data('projectid');
        var CnvCntr  = $stageContainer.attr('id');
        var CnvIdentifier = "ToyControllerCanvas-"+CnvPrjID;

        // create the Kinetic.Stage and layer
        stage = new Kinetic.Stage({
            container: CnvCntr,
            id:CnvIdentifier,
            width: 746,
            height: 196
        });
        //console.log(stage);
        layer = new Kinetic.Layer();
        stage.add(layer);          

        // make the Kinetic Container a dropzone
        $stageContainer.droppable({
            drop:dragDrop,
        });

        var isDraggable = ($('.switch #switch-line-'+CnvPrjID).is(':checked')) ? false : true;

        // Load input coordinates
        var inputObj = coordinatesJson[CnvPrjID];

        if(inputObj != undefined) {
          $.each(inputObj, function(index, object) {

            var inputItem = $('.inpButtons[data-inputid="'+object[0].inputid+'"]');
            var triggerID = $(inputItem).attr('id');

            var ImageObj1 = new Image();        
            ImageObj1.src = $(inputItem).attr('src');

            Image1 = new Kinetic.Image({
                name:"shape"+object[0].inputid,
                x:object[0].points.x,
                y:object[0].points.y,
                image:ImageObj1,
                draggable: isDraggable,
                width: 35,
                height: 35,
                id: index
            });
            layer.add(Image1);
            layer.draw();

            Image1.on('mouseover', function () {
                document.body.style.cursor = 'pointer';
                this.setStrokeWidth(3);
                layer.draw();

                hoverStartShape = index;
            });
            Image1.on('mouseout', function() {
                document.body.style.cursor = 'default';
                this.setStrokeWidth(0);
                layer.draw();
            });

            Image1.on("click", function () {
                this.setStrokeWidth(0); 

                inputItem.data("imgId", triggerID);
                showActionModal(inputItem);           
                
                layer.draw();
            });
          });
        }

        // Load line coordinates
        var lineObj = coordinateLines[CnvPrjID];

        if(lineObj != undefined) {
          $.each(lineObj, function(index, object) {
            console.log(object);
            var lineCenter = amplidure2(object[0].startPoints, object[0].endPoints);
            var tmpLine = new Kinetic.Line({
                points : [object[0].startPoints.x, object[0].startPoints.y, lineCenter.x, lineCenter.y, object[0].endPoints.x, object[0].endPoints.y ],
                fill: 'black',
                stroke: 'grey',
                strokeWidth: 3,
                dash: [33, 10],
                id: 'line',
                tension: 0.2
            });
            layer.add(tmpLine);
            layer.draw();
          });
        }

        $('.inpButtons').draggable({
            helper: 'clone',
            appendTo: '.kineticjs-content',
            scroll: false,
            revert: true
        });
        
        /* Adding Events to Canvas */
        $stageContainer.find('.kineticjs-content').on('mousedown', mousedown);
        $stageContainer.find('.kineticjs-content').on('mousemove', mousemove);
        $stageContainer.find('.kineticjs-content').on('mouseup', mouseup);
      }

      $(".mainWFDiv").scroll(function() {        
        var scrollTop = $(this).scrollTop();
        var divOffset = stageOffset.top;
        offsetY = (divOffset - scrollTop);
      });

      // handle a drop into the Kinetic container
      function dragDrop(e,ui){
        // get the drop point
        var x=parseInt(ui.offset.left-offsetX);
        var y=parseInt(ui.offset.top-offsetY);

        var element=ui.draggable;
        var data = element.data("url");
        var theImage=element.data("image");
        var varName = element.data("varName");
        var coordId = element.data("coorid");
        var inputId = element.data("inputid");
        var projectID = $(this).data('projectid');

        this["marker"+varName] = new Kinetic.Image({
            name:data,
            x:x,
            y:y,
            image:theImage,
            draggable: false,
            width: 35,
            height: 35,
            id: coordId
        });

        if(coordinatesJson[projectID] == undefined) {
          coordinatesJson[projectID] = {};
        }
        if(coordinatesJson[projectID][coordId] == undefined) {
          coordinatesJson[projectID][coordId] = [];
          coordinatesJson[projectID][coordId].push({ "uid": coordId, "points": { "x": x, "y": y }, "inputid": inputId, "project": projectID });
          console.log(JSON.stringify(coordinatesJson[projectID]));
          console.log(saveArray.indexOf(projectID));
          (saveArray.indexOf(projectID) == -1) ? saveArray.push(projectID) : saveArray;
          saveChanges = true;
        }

        this["marker" + varName].on('mouseover', function () {
            document.body.style.cursor = 'pointer';
            this.setStrokeWidth(3);
            layer.draw();
        });
        this["marker" + varName].on('mouseout', function() {
            document.body.style.cursor = 'default';
            this.setStrokeWidth(0);
            layer.draw();
        });
        this["marker" + varName].on("click", function () {
            this.setStrokeWidth(0); 

            showActionModal(element);           

            layer.draw();
        });
        var line = new Kinetic.Line({
            id: 'line',
            points: [50, 200, 250, 200],
            stroke: 'red',
            strokeWidth: 3,
            lineCap: 'round',
            lineJoin: 'round'
        });

        /*Adding line Configuration to Layer*/
        layer.add(line);
        layer.add(this["marker" + varName]);
        layer.draw();
      }

      function showActionModal(element) {
        switch (element.data("imgId")) {
          case 'ActFLED':
              $('#MdlFLED').modal('show');
              break;
          case 'ActBLED':
              $('#MdlBLED').modal('show');
              break;
          case 'ActMotor':
              $('#MdlMotor').modal('show');
              break;
          case 'ActDance':
              $('#MdlDance').modal('show');
              break;
          case 'ActSound':
              $('#MdlSound').modal('show');
              break;
          case 'ActVideo':
              $('#MdlVideo').modal('show');
              break;
          case 'ActRecMsg':
              $('#MdlRecMsg').modal('show');
              break;
          case 'InpSoundTrig':
              $('#MdlSoundTrig').modal('show');
              break;
          case 'InpIRsnsr':
              $('#MdlIRsnsr').modal('show');
              break;
          case 'InpMtnDect':
              $('#MdlMtnDect').modal('show');
              break;
          case 'inpVoicecmd':
              $('#MdlinpVoicecmd').modal('show');
              break;
          case 'InpTimer':
              $('#MdlTimer').modal('show');
              break;
        }
      }

      function saveCoordinates(target, projectid) {
        var inputsJson = coordinatesJson[projectid];
        var linesJson = coordinateLines[projectid];

        if(inputsJson != undefined || linesJson != undefined) {
          $.ajax({
            url: "/project-save/",
            type: 'POST',
            dataType: 'json',
            data: {
              inputs: JSON.stringify(inputsJson),
              lines: JSON.stringify(linesJson),
              method: "coordinates",
              csrfmiddlewaretoken : "{{ csrf_token }}"
            },
            success: function(data) {
              if(data.status) {
                saveArray.splice(saveArray.indexOf(projectid),1);
                saveChanges = saveArray.length ? true : false;
                console.log(saveArray);
                console.log(saveChanges);
              }
            },
            error: function(xhr, status, error) {
              console.log(error);
            }
          });
        }
      }

      function updateProject(target, name, projectid, method) {
        $.ajax({
          url: "/project-save/",
          type: 'POST',
          dataType: 'json',
          data: {
            projectName: name,
            projectID: projectid,
            method: method,
            csrfmiddlewaretoken : "{{ csrf_token }}"
          },
          success: function(data) {
            if(data.status) {
              if(method == "delete") {
                $(target).closest('div.panel').remove();
              } else {
                if(projectid) {
                  $("#accordion").find('a.prjHeader[data-prjtarget="collapse-project-'+data.projectID+'"]').html(data.projectName);
                  $("#accordion").find('a.prjHeaderIcons[data-projectid="'+data.projectID+'"]').attr("data-title",data.projectName);
                  $('#addNewModal').modal('hide');
                } else {
                  var newPanel = "collapse-project-"+ data.projectID;
                  var cloneData = $('#panelClone > .panel').clone();
                  $(cloneData).find('a.prjHeader').attr("href","#"+newPanel);
                  $(cloneData).find('a.prjHeader').attr("data-prjtarget","collapse-project-"+data.projectID).html(data.projectName);
                  $(cloneData).find('a.prjHeaderIcons').attr({"data-projectid":data.projectID,"data-title":data.projectName});
                  $(cloneData).find('.panel-collapse').attr("id",newPanel);
                  $(cloneData).find('.container-canvas').attr({"data-projectid":data.projectID,"id":"container-canvas-"+ data.projectID});                  
                  $(cloneData).insertBefore("#panelClone");
                  $('#addNewModal').modal('hide');
                  location.reload();
                }
              }        
            }  
          },
          error: function(xhr, status, error) {
            console.log(error);
          }
        });  
      }

      var utils = {
        _getCenter: function (x1, y1, x2, y2) {
            return {
                x: (x1 + x2) / 2,
                y: (y1 + y2) / 2
            }
        },
        // Converts from degrees to radians.
        _radians: function (degrees) {
            return degrees * Math.PI / 180;
        },
        // Converts from radians to degrees.
        _degrees: function (radians) {
            return radians * 180 / Math.PI;
        }
      };

      function amplitude(point) {
        var rad_90 = utils._radians(90);
        var rad_45 = utils._radians(45);
        var rad_60 = utils._radians(60);
        return {
            x: point.x * Math.cos(rad_60),
            y: point.y * Math.sin(rad_60)
        };
      }

      function amplidure2(p1, p2) {
        var alpha = Math.atan((p1.x - p2.x) / (p1.y - p2.y)) + Math.PI / 2;
        if (p1.y < p2.y) {
            alpha += Math.PI;
        }
        var center = utils._getCenter(p1.x, p1.y, p2.x, p2.y);
        var r = 10;
        return {
            x: center.x + r * Math.sin(alpha),
            y: center.y + r * Math.cos(alpha)
        }
      }
    
      var tmpLayer;
      var beginPoint = undefined;
      var begin = false;
      var clickStart = false;
      var linesActive = false;
      var tmpProject = undefined;
      var connectWith = undefined;

      /* Creating temporary layer */
      tmpLayer = new Kinetic.Layer({
          name: 'tmpLayer'
      });

      mousedown = function(evt) {
        if(stage.clickStartShape != undefined && stage.clickStartShape.className == 'Image') {

          beginPoint = getMousePosition();
          begin = true;
          stage.add(tmpLayer);
          
          var container = stage.attrs.container;
          tmpProject = $(container).data("projectid");
          linesActive = ($('.switch #switch-line-'+tmpProject).is(':checked')) ? true : false;
          clickStart = true;
          connectWith = { "start": parseInt(hoverStartShape), "end": null };
          console.log(connectWith);
        }
      };

      mousemove = function(evt) {
        if (!begin || !clickStart) {
            return;
        }
        if(linesActive) {
          var tempPoint = getMousePosition();        
          if (tempPoint !== undefined && beginPoint !== undefined) {
              var center = amplidure2(beginPoint, tempPoint);
              var tmpLine = new Kinetic.Line({
                  points : [beginPoint.x, beginPoint.y, center.x, center.y,tempPoint.x,
                  tempPoint.y ],
                  fill: 'black',
                  stroke: 'lightblue',
                  strokeWidth: 3,
                  dash: [33, 10],
                  id: 'line',
                  tension: 0.9
              });
              tmpLayer.removeChildren();
              tmpLayer.add(tmpLine);
              tmpLayer.draw();
          }
        }
      };

      mouseup = function(evt) {
        if (begin && clickStart) {
          if(linesActive) {
            connectWith.end = parseInt(hoverStartShape);
            console.log(connectWith);
            var tempPoint = getMousePosition();            
            if (tempPoint !== undefined && beginPoint !== undefined && tmpProject !== undefined) {
              var center = amplidure2(beginPoint, tempPoint);               
              var tmpLine = new Kinetic.Line({
                  points : [beginPoint.x, beginPoint.y, center.x, center.y, tempPoint.x,
                  tempPoint.y ],
                  fill: 'black',
                  stroke: 'grey',
                  strokeWidth: 3,
                  dash: [33, 10],
                  id: 'line',
                  tension: 0.2
              });
              layer.add(tmpLine);
              layer.draw();

              if(tmpProject) {
                // line coordinates updates
                var dl = new Date();
                var lid = dl.getTime();
                if(beginPoint.x != tempPoint.x && beginPoint.y != tempPoint.y) {
                  if(coordinateLines[tmpProject] == undefined) {
                    coordinateLines[tmpProject] = {};
                  }
                  if(coordinateLines[tmpProject][lid] == undefined) {
                    coordinateLines[tmpProject][lid] = [];
                    coordinateLines[tmpProject][lid].push({ "uid": lid, "startPoints": { "x": beginPoint.x, "y": beginPoint.y }, "endPoints": { "x": tempPoint.x, "y": tempPoint.y }, "project": tmpProject, "connectWith": connectWith });
                    (saveArray.indexOf(tmpProject) == -1) ? saveArray.push(tmpProject) : saveArray;
                    saveChanges = true;
                    console.log(JSON.stringify(coordinateLines[tmpProject]));
                  }
                }
              }
            }
          } else {
            if(tmpProject != undefined && tmpProject) {
              // input coordinates updates
              if(stage.clickStartShape != undefined && stage.clickStartShape.attrs.id != undefined ) {
                coordinatesJson[tmpProject][stage.clickStartShape.attrs.id][0].points.x = stage.clickStartShape.attrs.x;
                coordinatesJson[tmpProject][stage.clickStartShape.attrs.id][0].points.y = stage.clickStartShape.attrs.y;
                console.log(JSON.stringify(coordinatesJson[tmpProject]));
                (saveArray.indexOf(tmpProject) == -1) ? saveArray.push(tmpProject) : saveArray;
                saveChanges = true;
              }
            }
          }
          begin = false;
          clickStart = false;
          linesActive = false;
        }
      };
        /*Function to get Mouse Position*/
      var getMousePosition = function() {
        var pointerpos = stage.getPointerPosition();
        if (pointerpos === undefined)
            return undefined;
        var pos = stage.getPosition();
        var offset = stage.getOffset();
        var scale = stage.getScale();
        return {
            x : ((pointerpos.x / scale.x) - (pos.x / scale.x) + offset.x),
            y : ((pointerpos.y / scale.y) - (pos.y / scale.y) + offset.y)
        };
      };

      $(document).ready(function () {

        $('#accordion .panel a.prjHeader.first').click();

        /* Adding Events to Canvas */
        $('.container-canvas .kineticjs-content').on('mousedown', mousedown);
        $('.container-canvas .kineticjs-content').on('mousemove', mousemove);
        $('.container-canvas .kineticjs-content').on('mouseup', mouseup);

        $('[data-toggle="popover"]').popover();

        $(window).on('shown.bs.modal',function(){
          $('#newProject').focus();
        });

        $(document).on('click','.clickAction',function(event) {
          event.preventDefault();

          var actionType = $(this).data('action');
          var projectID  = $(this).data('projectid');
          var title      = $(this).data('title');

          projectID = (projectID != undefined) ? projectID : 0;

          switch (actionType) {
            case 'add':
              $('#newProject').attr("data-projectid",0).val('');
              $('#addNewModal').modal('show');
              break;
            case 'edit':
              $('#newProject').val(title);
              $('#newProject').attr("data-projectid",projectID);
              $('#addNewModal').modal('show');
              break;
            case 'save':
              saveCoordinates(this,projectID);
              break;
            case 'delete':
              updateProject(this,title,projectID,"delete");
              break;
            case 'active-lines':
              if($(this).find('input[type="checkbox"]').is(':checked')) {
                $(this).find('input[type="checkbox"]').prop('checked',false);
              } else {
                $(this).find('input[type="checkbox"]').prop('checked',true);
              }
              var target = $('#'+$(this).data("element"));
              LoadCanvas(target);
              break;
          }
        }); 

        $(document).on('click','#saveProject',function() {
          var name = $.trim($('#newProject').val());  
          var projectid = $('#newProject').attr("data-projectid");  
          projectid = (projectid != undefined) ? parseInt(projectid) : 0;

          if(name.length) {
            updateProject(this,name,projectid,"save");
          } else {
            $('<p class="errorMsg">Please enter a valid name.</p>').insertAfter('#newProject');
            $('#newProject').addClass('error').keyup(function(){
              $(this).removeClass('error');
              $('.errorMsg').remove();
            });
          }
        });       
      });
    }); // end $(function(){});

</script>     

<body>

    
  <!-- Modal -->
  <div class="modal fade" id="MdlFLED" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Configure Front LED Modes</h4>
        </div>
        <div class="modal-body">
          <div class="btn-group">
              <p><i>Do you want the lights?
                  <button type="button" class="btn btn-success">On</button>
                  <button type="button" class="btn btn-danger">Off</button>
              </i></p>
          </div>
          <div class="btn-group">
              <p><i>What Lights Left or Right??
                <button type="button" class="btn btn-info">Left</button>
                <button type="button" class="btn btn-info">Right</button>
                <button type="button" class="btn btn-info">Both</button>
              </i></p>
          </div>
          <div class="btn-group">
              <p><i>What should the lights do?
                <button type="button" class="btn btn-info">Just On</button>
                <button type="button" class="btn btn-info">Blinking</button>
                <button type="button" class="btn btn-info">Flash once</button>
              </i></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="MdlBLED" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Configure Back LED Modes</h4>
        </div>
        <div class="modal-body">
          <div class="btn-group">
              <p><i>Do you want the lights?
                  <button type="button" class="btn btn-success">On</button>
                  <button type="button" class="btn btn-danger">Off</button>
              </i></p>
          </div>
          <div class="btn-group">
              <p><i>What should the lights do?
                <button type="button" class="btn btn-info">Just On</button>
                <button type="button" class="btn btn-info">Blinking</button>
                <button type="button" class="btn btn-info">Flash once</button>
              </i></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="MdlMotor" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Configure Motors for Navigation</h4>
        </div>
        <div class="modal-body">
          <div class="btn-group">
              <p><i>Turn On or Off the Motors?
                  <button type="button" class="btn btn-success">On</button>
                  <button type="button" class="btn btn-danger">Off</button>
              </i></p>
          </div>
          <div class="btn-group">
              <p><i>Which direction do you want to go?
                <button type="button" class="btn btn-info">Left</button>
                <button type="button" class="btn btn-info">Right</button>
                <button type="button" class="btn btn-info">Front</button>
                <button type="button" class="btn btn-info">Back</button>
              </i></p>
          </div>
          <div class="btn-group">
              <p><i>What should the lights do?
                <button type="button" class="btn btn-info">Just On</button>
                <button type="button" class="btn btn-info">Blinking</button>
                <button type="button" class="btn btn-info">Flash once</button>
              </i></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="MdlDance" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">MdlDance</h4>
        </div>
        <div class="modal-body">
          <div class="btn-group">
              <p><i>Do you want the lights?
                  <button type="button" class="btn btn-success">On</button>
                  <button type="button" class="btn btn-danger">Off</button>
              </i></p>
          </div>
          <div class="btn-group">
              <p><i>What should the lights do?
                <button type="button" class="btn btn-info">Just On</button>
                <button type="button" class="btn btn-info">Blinking</button>
                <button type="button" class="btn btn-info">Flash once</button>
              </i></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="MdlSound" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">MdlSound</h4>
        </div>
        <div class="modal-body">
          <div class="btn-group">
              <p><i>Do you want the lights?
                  <button type="button" class="btn btn-success">On</button>
                  <button type="button" class="btn btn-danger">Off</button>
              </i></p>
          </div>
          <div class="btn-group">
              <p><i>What should the lights do?
                <button type="button" class="btn btn-info">Just On</button>
                <button type="button" class="btn btn-info">Blinking</button>
                <button type="button" class="btn btn-info">Flash once</button>
              </i></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="MdlVideo" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">MdlVideo</h4>
        </div>
        <div class="modal-body">
          <div class="btn-group">
              <p><i>Do you want the lights?
                  <button type="button" class="btn btn-success">On</button>
                  <button type="button" class="btn btn-danger">Off</button>
              </i></p>
          </div>
          <div class="btn-group">
              <p><i>What should the lights do?
                <button type="button" class="btn btn-info">Just On</button>
                <button type="button" class="btn btn-info">Blinking</button>
                <button type="button" class="btn btn-info">Flash once</button>
              </i></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="MdlRecMsg" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">MdlRecMsg</h4>
        </div>
        <div class="modal-body">
          <div class="btn-group">
              <p><i>Do you want the lights?
                  <button type="button" class="btn btn-success">On</button>
                  <button type="button" class="btn btn-danger">Off</button>
              </i></p>
          </div>
          <div class="btn-group">
              <p><i>What should the lights do?
                <button type="button" class="btn btn-info">Just On</button>
                <button type="button" class="btn btn-info">Blinking</button>
                <button type="button" class="btn btn-info">Flash once</button>
              </i></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="MdlSoundTrig" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">MdlSoundTrig</h4>
        </div>
        <div class="modal-body">
          <div class="btn-group">
              <p><i>Do you want the lights?
                  <button type="button" class="btn btn-success">On</button>
                  <button type="button" class="btn btn-danger">Off</button>
              </i></p>
          </div>
          <div class="btn-group">
              <p><i>What should the lights do?
                <button type="button" class="btn btn-info">Just On</button>
                <button type="button" class="btn btn-info">Blinking</button>
                <button type="button" class="btn btn-info">Flash once</button>
              </i></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="MdlIRsnsr" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">MdlIRsnsr</h4>
        </div>
        <div class="modal-body">
          <div class="btn-group">
              <p><i>Do you want the lights?
                  <button type="button" class="btn btn-success">On</button>
                  <button type="button" class="btn btn-danger">Off</button>
              </i></p>
          </div>
          <div class="btn-group">
              <p><i>What should the lights do?
                <button type="button" class="btn btn-info">Just On</button>
                <button type="button" class="btn btn-info">Blinking</button>
                <button type="button" class="btn btn-info">Flash once</button>
              </i></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="MdlMtnDect" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">MdlMtnDect</h4>
        </div>
        <div class="modal-body">
          <div class="btn-group">
              <p><i>Do you want the lights?
                  <button type="button" class="btn btn-success">On</button>
                  <button type="button" class="btn btn-danger">Off</button>
              </i></p>
          </div>
          <div class="btn-group">
              <p><i>What should the lights do?
                <button type="button" class="btn btn-info">Just On</button>
                <button type="button" class="btn btn-info">Blinking</button>
                <button type="button" class="btn btn-info">Flash once</button>
              </i></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>

 <div class="modal fade" id="MdlinpVoicecmd" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">MdlinpVoicecmd</h4>
        </div>
        <div class="modal-body">
          <div class="btn-group">
              <p><i>Do you want the lights?
                  <button type="button" class="btn btn-success">On</button>
                  <button type="button" class="btn btn-danger">Off</button>
              </i></p>
          </div>
          <div class="btn-group">
              <p><i>What should the lights do?
                <button type="button" class="btn btn-info">Just On</button>
                <button type="button" class="btn btn-info">Blinking</button>
                <button type="button" class="btn btn-info">Flash once</button>
              </i></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>

<div class="modal fade" id="addNewModal" role="dialog">
	<div class="modal-dialog modal-sm">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
  			<button type="button" class="close" data-dismiss="modal">&times;</button>
  			<h4 class="modal-title">Add new project</h4>
  		</div>
			<div class="modal-body">
				<label>Project Name:</label>
				<input type="text" class="form-control" name="newProject" id="newProject" value="" />
			</div>
			<div class="modal-footer">
  			<button type="button" class="btn btn-success" id="saveProject">Save</button>
  			<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
  		</div>
		</div>
	</div>
</div>

 <div class="modal fade" id="MdlTimer" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">MdlTimer</h4>
        </div>
        <div class="modal-body">
          <div class="btn-group">
              <p><i>Do you want the lights?
                  <button type="button" class="btn btn-success">On</button>
                  <button type="button" class="btn btn-danger">Off</button>
              </i></p>
          </div>
          <div class="btn-group">
              <p><i>What should the lights do?
                <button type="button" class="btn btn-info">Just On</button>
                <button type="button" class="btn btn-info">Blinking</button>
                <button type="button" class="btn btn-info">Flash once</button>
              </i></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div id="containerX" class ="container">
    <div class="col-sm-3 mainWFDiv" style="background-color:tomato;">
      <div class="panel-group" id="accordiontools">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="prjHeader" data-toggle="collapse" data-parent="#accordiontools" href="#collapse11">Inputs</a>
                <img src="https://cdn2.iconfinder.com/data/icons/ui-thick-lines/620/download-128.png" style="width:35px;height:35px;"/>
            </h4>
          </div>
          <div id="collapse11" class="panel-collapse collapse in">
            <div class="panel-body">
              {% for input in inputs %}
                  {% if input.type == 'Inputs' %}
                  <p><img src="{{ input.icon.url }}" class="inpButtons ui-draggable" id="{{input.identifier}}" data-inputid="{{input.id}}" />{{input.name}}</p>
                  {% endif %}  
	            {% empty %}
                  No Items yet.
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="prjHeader" data-toggle="collapse" data-parent="#accordiontools" href="#collapse12">Actions</a>
              <img src="https://cdn3.iconfinder.com/data/icons/glypho-photography/64/camera-mode-action-128.png" style="width:35px;height:35px;"/>
            </h4>
          </div>
          <div id="collapse12" class="panel-collapse collapse">
            <div class="panel-body">
	            {% for input in inputs %}
                  {% if input.type == 'Actions' %}
                  <p><img src="{{ input.icon.url }}" class="inpButtons ui-draggable" id="{{input.identifier}}" data-inputid="{{input.id}}">{{input.name}}</p>
                  {% endif %}
              {% empty %}
                  No Items yet.
              {% endfor %}
            </div>
          </div>        
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="prjHeader" data-toggle="collapse" data-parent="#accordiontools" href="#collapse13">Utility</a>
              <img src="https://cdn1.iconfinder.com/data/icons/smashicons-construction-retro-vol-2/60/117_-Utility_Knife-_construction_tool_work_building-128.png" style="width:35px;height:35px;"/>
            </h4>
          </div>
          <div id="collapse13" class="panel-collapse collapse">
            <div class="panel-body">
	            {% for input in inputs %}
                  {% if input.type == 'Utility' %}
                  <p><img src="{{ input.icon.url }}" class="inpButtons ui-draggable" id="{{input.identifier}}" data-inputid="{{input.id}}">{{input.name}}</p>
                  {% endif %}
              {% empty %}
                  No Items yet.
              {% endfor %}
            </div>
          </div>        
        </div>
      </div>   
    </div>

    <div class="col-sm-9 mainWFDiv" style="background-color:slategray;">
      <div class="add-new-btn">
        <a href="#" class="clickAction" data-action="add"><img src="https://cdn0.iconfinder.com/data/icons/ie_Bright/128/plus_add_green.png" class="add-new-img" title="Add New Project" data-pin-nopin="true" width="25" height="25">Add new</a>
      </div>           
      <div class="panel-group" id="accordion">
        {% for project in projects %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title clearfix">
                <a class="prjHeader {% if forloop.first  %} first {% endif %}" data-prjtarget="collapse-project-{{project.id}}" data-toggle="collapse" data-parent="#accordion" href="#collapse-project-{{project.id}}">{{project.project_name}}</a>
                <!--img src="https://cdn4.iconfinder.com/data/icons/crime-and-security-2-5/512/74-128.png" style="width:35px;height:35px;"/-->
                <span class="lineSwitch">Lines <label class="switch clickAction" data-action="active-lines" data-element="collapse-project-{{project.id}}"><input type="checkbox" id="switch-line-{{project.id}}"><div class="slider round"></div></label></span>
                <a href="#" class="prjHeaderIcons clickAction" data-action="delete" data-projectid="{{project.id}}"><img src="https://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/128x128/DeleteRed.png" class="" title="Delete Project"/></a>
                <a href="#" class="prjHeaderIcons clickAction" data-action="save" data-projectid="{{project.id}}"><img src="https://cdn0.iconfinder.com/data/icons/round-ui-icons/128/tick_green.png" class="" title="Save"/></a>
                <a href="#" class="prjHeaderIcons clickAction" data-action="edit" data-title="{{project.project_name}}" data-projectid="{{project.id}}"><img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/brush-pencil-128.png" class="" title="Edit"/></a>
              </h4>
            </div>
            <div id="collapse-project-{{project.id}}" class="panel-collapse collapse">
              <div id="container-canvas-{{project.id}}" class="panel-body container-canvas" data-projectid="{{project.id}}" width="500" height="180" style="border:2px solid #000000; margin-left:1px;">
              </div>
            </div>
          </div>
        {% empty %}
          No Items yet.
        {% endfor %}
        <div id="panelClone" class="hide">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title clearfix">
                <a class="prjHeader" data-toggle="collapse" data-parent="#accordion" href="#"></a>
                <a href="#" class="prjHeaderIcons clickAction" data-action="delete"><img src="https://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/128x128/DeleteRed.png" class="" title="Delete Project"/></a>
                <a href="#" class="prjHeaderIcons clickAction" data-action="save"><img src="https://cdn0.iconfinder.com/data/icons/round-ui-icons/128/tick_green.png" class="" title="Save"/></a>
                <a href="#" class="prjHeaderIcons clickAction" data-action="edit"><img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/brush-pencil-128.png" class="" title="Edit"/></a>
              </h4>
            </div>
            <div id="" class="panel-collapse collapse">
              <div id="container" class="panel-body container-canvas" width="500" height="180" style="border:2px solid #000000; margin-left:1px;"></div>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>
</body>

{% endblock %}
