{% load static %} 
{% block content %}

<style>
    body {
	    overflow	: hidden;
	    padding		: 0;
	    margin		: 0;
	    background-color:midnightblue;
    }
    #info {
	    position	: absolute;
	    top		: 0px;
	    width		: 100%;
	    padding		: 5px;
	    text-align	: center;
    }
    #info a {
	    color		: #ffcccc;
	    text-decoration	: none;
    }
    #info a:hover {
	    text-decoration	: underline;
    }
    #container {
	    width		: 100%;
	    height		: 100%;
	    overflow	: hidden;
	    padding		: 0;
	    margin		: 0;
	    -webkit-user-select	: none;
	    -moz-user-select	: none;
    }
</style>


<body>
        <div id="new" >
            <div id="container" style="position: relative;"><canvas width="126" height="126" style="position: absolute; left: 267px; top: 225px; display: none;"></canvas><canvas width="86" height="86" style="position: absolute; left: 431px; top: 173px; display: none;"></canvas></div>
            <div id="info">
                <span id="result"><</span>
		    </div> 
       	</div>
        <script src="{% static 'app/scripts/virtualjoystick.js' %}"></script>
		<script>
			console.log("touchscreen is", VirtualJoystick.touchScreenAvailable() ? "available" : "not available");
	
			var joystick	= new VirtualJoystick({
				container	: document.getElementById('container'),
				mouseSupport	: true,
			});
			joystick.addEventListener('touchStart', function(){
				console.log('down')
			})
			joystick.addEventListener('touchEnd', function(){
				console.log('up')
			})

			setInterval(function(){
				var outputEl	= document.getElementById('result');
				outputEl.innerHTML	= '<b>D:</b> '
					//+ ' dx:'+joystick.deltaX()
					//+ ' dy:'+joystick.deltaY()
					+ (joystick.right()	? ' right'	: '')
					+ (joystick.up()	? ' up'		: '')
					+ (joystick.left()	? ' left'	: '')
					+ (joystick.down()	? ' down' 	: '')	
			}, 1/30 * 1000);
		</script>
	
</body>

{% endblock %}
