﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://intridea.github.io/sketch.js/lib/sketch.min.js"></script>
    <title>{{ title }}</title>
</head>
<body>
<canvas id="simple_sketch" style="width:100%; height:145px;"></canvas>
<script type="text/javascript">
  $(function() {
      $('#simple_sketch').sketch('color', '#f0f');
  });
</script>

</body>
</html>