f{% extends "app/layout.html" %}

{% block content %}

<h4><img src="https://cdn2.iconfinder.com/data/icons/plump-by-zerode_/256/Control-Panel-icon.png" style="width:80px;height:80px;"/>Cockpit </h4>

<script type="text/javascript">
    function updateMovieSelection() {
        var newMov = document.getElementById("MovieSelectionList").value;
        $(".MovieControls").attr('value', newMov);
    };

</script>
<body>
  <div class="container">
    <div class="row mainRow">
      <div class="col-sm-6 mainDiv clearfix"  style="background-color:#80bfff;height:98%; width:49%; ">
        <div class="row">
          <div class="col-md-12">
            <img src="https://cdn4.iconfinder.com/data/icons/photos-images-solid-style/24/camera-live-view-on-512.png" width="50px" height="50px" />
          </div>
          <div class="col-lg-9 col-md-8 col-sm-9 col-xs-12 text-center">

            <img src="http://onlinecheasonghourmoneyonline.weebly.com/uploads/5/1/4/2/51422057/2506871_orig.jpg" class="img-responsive viewImg" style="" />           
          </div>
          <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12">
            <div class="text-center camera-action-wrap">
							<form action="" method="post">{% csrf_token %}
								<div class="btn-group-vertical btn-group-md  btn-space hidden-xs">
									<input type="button" name="CameraAction" value="Start View" onclick="btnCall();" class="btn btn-success cameraAction"/>
									<input type="button" name="CameraAction" value="Take Picture" onclick="btnCall();" class="btn btn-warning CameraAction"/>
									<input type="button" name="CameraAction" value="Stop View"  onclick="btnCall();" class="btn btn-danger CameraAction"/>
								</div>
                <div class="btn-group btn-group-md btn-space visible-xs smallBtn">
                  <input type="button" name="CameraAction" value="Start View" onclick="btnCall();" class="btn btn-success CameraAction"/>                 
                  <input type="button" name="CameraAction" value="Stop View"  onclick="btnCall();" class="btn btn-danger CameraAction"/>
                  <input type="button" name="CameraAction" value="Take Picture" onclick="btnCall();" class="btn btn-warning CameraAction"/>
                </div>
							</form>
					  </div> 
				  </div>
				</div>
      </div>
      <!-- first section ends -->
      <div class="col-sm-6 mainDiv clearfix"  style="background-color:#aff779;height:98%; width:49%;">
        <div style="align-items:center;">
          <img src="https://cdn1.iconfinder.com/data/icons/system-icons-4/1024/Video-512.png" width="50px" height="50px" />
          <img src="https://cdn1.iconfinder.com/data/icons/audio-2/512/visualizer-512.png" width="50px" height="50px" />
          {#<img src="https://cdn3.iconfinder.com/data/icons/music-volume-2-2/48/83-512.png" width="50px" height="50px" />#}
        </div>
        <div class="demo" >
          <div id="myCarouse2" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarouse2" data-slide-to="0" class="active"></li>
              <li data-target="#myCarouse2" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active" >
               
                <div class="wrapperDiv">
                   <h5>Movies / Clip</h5>
                  <div class="row" > 
                    <div class="col-md-4 col-sm-4 col-xs-6">
                      <select id="MovieSelectionList" class="selectpicker col-xs-12 noPadding" multiple style="height:180px;"  onchange="updateMovieSelection()">
                        <optgroup label="Movies" data-max-options="2">
                          <option>GoodDinosaur</option>
                          <option>AngryBird</option>
                          <option>The lion King</option>
                          <option>Finding Nemo</option>
                          <option>Monsters Inc</option>
                          <option>E.T.</option>
                          <option>The Incredibles</option>
                          <option>Frozen</option>
                          <option>Alladin</option>
                          <option>Toy Story</option>
                        </optgroup>
                      </select>
                       <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6" >
                      <select class="selectpicker col-xs-12 noPaddingLeft" multiple style="height:180px;">
                        <optgroup label="Musicals" data-max-options="2">
                          <option>This Old Man</option>
                          <option>Yankee Doodle</option>
                          <option>Six Little Ducks</option>
                        </optgroup>
                      </select>
                      <div class="clearfix"></div>
                    </div>              
                    <div class="col-md-4 col-sm-4 hidden-xs" >
                      <form action="" method="post" >{% csrf_token %}
                        <div class="btn-group-vertical">
                          <button type="button" name="VideoPlay" onclick="btnCall();" class="btn btn-success MovieControls"><span class="glyphicon glyphicon-play"></span> Play</button>                                
                          <button type="button" name="VideoPause" onclick="btnCall();" class="btn btn-warning MovieControls"><span class="glyphicon glyphicon-pause"></span> Pause</button>                                         
                          <button type="button" name="VideoForward" onclick="btnCall();" class="btn btn-info MovieControls"><span class="glyphicon glyphicon-forward"></span> Forward</button>
                          <button type="button" name="VideoStop" onclick="btnCall();" class="btn btn-danger MovieControls"><span class="glyphicon glyphicon-stop"></span> Stop</button>
                        </div>
                        <div class="clearfix"></div>
                      </form>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-xs-12 visible-xs noPadding smallBtn text-center">
                  <form action="" method="post" >{% csrf_token %}
                    <div class="btn-group">
                      <button type="button" name="VideoPlay" onclick="btnCall();" class="btn btn-success MovieControls"><span class="glyphicon glyphicon-play"></span> Play</button>                                
                      <button type="button" name="VideoPause" onclick="btnCall();" class="btn btn-warning MovieControls"><span class="glyphicon glyphicon-pause"></span> Pause</button>                                           
                      <button type="button" name="VideoForward" onclick="btnCall();" class="btn btn-info MovieControls"><span class="glyphicon glyphicon-forward"></span> Forward</button>
                      <button type="button" name="VideoStop" onclick="btnCall();" class="btn btn-danger MovieControls"><span class="glyphicon glyphicon-stop"></span> Stop</button>
                    </div>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
              <div class="item">
                <h5 style="margin-left: 70px;">Sounds</h5>
                <div class="row">
                  <div class="col-md-6 col-sm-6 text-center">
                    <select class="selectpicker" multiple style="height:180px;">
                      <optgroup label="Vehicles" data-max-options="2">
                        <option>Race Car</option>
                        <option>Cop Siren</option>
                        <option>Ambulance Siren</option>
                        <option>Car Backing up</option>
                        <option>Plane Take off</option>
                        <option>Jet Engine</option>
                        <option>Tire Skidding</option>
                        <option>Honk</option>
                        <option>Train</option>
                        <option>Train Honk</option>
                      </optgroup>
                      <optgroup label="Animals" data-max-options="2">
                        <option>Dog Bark</option>
                        <option>Dog Whine</option>
                        <option>Cat Meaow</option>
                        <option>Lion Roar</option>
                        <option>Horse Neigh</option>
                        <option>Bird Chrips</option>
                        <option>Cow Moos</option>
                        <option>Snake Hiss</option>
                        <option>Duck Quack</option>
                        <option>Penguin Talk</option>
                      </optgroup>
                      <optgroup label="Humans" data-max-options="2">
                        <option>Baby Laugh</option>
                      </optgroup>
                    </select>
                  </div>
                  <div class="col-md-6 col-sm-6 hidden-xs text-center">
                    <form action="" method="post">{% csrf_token %}
                      <div class="btn-group-vertical">
                          <button type="button" class="btn btn-success" onclick="btnCall();"><span class="glyphicon glyphicon-play"></span> Play Once</button>                                
                          <button type="button" class="btn btn-warning" onclick="btnCall();"><span class="glyphicon glyphicon-pause"></span> Play continous</button>                                           
                          <button type="button" class="btn btn-danger" onclick="btnCall();"><span class="glyphicon glyphicon-stop"></span> Stop</button>
                      </div>
                    </form>
                  </div>
                  <div class="col-xs-12 visible-xs smallBtn text-center">
                    <form action="" method="post" >{% csrf_token %}
                      <div class="btn-group">
                          <button type="button" class="btn btn-success" onclick="btnCall();"><span class="glyphicon glyphicon-play"></span> Play Once</button>                                
                          <button type="button" class="btn btn-warning" onclick="btnCall();"><span class="glyphicon glyphicon-pause"></span> Play continous</button>                                           
                          <button type="button" class="btn btn-danger" onclick="btnCall();"><span class="glyphicon glyphicon-stop"></span> Stop</button>
                      </div>
                    </form>
                  </div>
                </div>               
              </div>
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarouse2" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarouse2" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
      	  </div>  
      	</div>
	    </div>
      <!-- second section ends -->
    </div>
    <!-- firstrow ends-->
    <div class="row mainRow">
        <div class="col-sm-6 mainDiv clearfix" style="background-color:darksalmon;height:98%; width:49%;">
          <div style="align-items:center;">
            <img src="https://cdn2.iconfinder.com/data/icons/industry-3/512/led-512.png" width="50px" height="50px" />
          </div>
        </div>
        <div class="col-sm-6 mainDiv clearfix" style="background-color:darksalmon;height:98%; width:49%;">            
            <div class="row">
              <div class="col-md-12">
                <img src="https://cdn3.iconfinder.com/data/icons/map-location-2/128/1-16-512.png" width="50px" height="50px" />
                 <div id="myCarousel" class="carousel slide" data-ride="carousel"  data-interval="false">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                      </ol>
                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <div class="item active" >                           
                            <div class="wrapperDiv2">
                             
                              <div class="row">
                                <h5>Draw Path</h5>
                                <div class="col-md-12 col-sm-12 text-center noPadding">
                                  <iframe class="img-rounded" src="DrawPathIframe.html" name="iframe_a" style="border:2px solid grey; width:100%; margin:auto; height:170px;"></iframe>
                                </div>
                                <div class="col-md-12 col-sm-12 hidden-xs text-right">
                                  <form action="" method="post" id="motionPathForm">{% csrf_token %}
                                    <div class="btn-group">
                                      <input type="button" name="MotionPath" value="Start on Path" onclick="btnCall();" class="btn btn-success MotionPath" />
                                      <input type="button" name="MotionPath" value="Stop on Path" onclick="btnCall();" class="btn btn-danger MotionPath"/>
                                      <input type="button" name="MotionPath" value="Clear Path" onclick="btnCall();" class="btn btn-info MotionPath" id="clearSketch"/>
                                    </div>
                                </form>
                                </div>
                                
                              </div>
                            </div>
                            <div class="col-xs-12 visible-xs smallBtn text-center noPadding" style="margin-bottom:25px;">
                              <form action="" method="post" id="motionPathForm">{% csrf_token %}
                                  <div class="btn-group">
                                      <input type="button" name="MotionPath" value="Start on Path" onclick="btnCall();" class="btn btn-success MotionPath" />
                                      <input type="button" name="MotionPath" value="Stop on Path" onclick="btnCall();" class="btn btn-danger MotionPath"/>
                                      <input type="button" name="MotionPath" value="Clear Path" onclick="btnCall();" class="btn btn-info MotionPath" id="clearSketch"/>
                                  </div>
                              </form>
                            </div>                                
                        </div>
                        <div class="item">
                          <div class="wrapperDiv3">
                            <div class="row">
                              <div class="col-md-6 col-sm-12 col-xs-12 text-center">                          
                                <h5>Joy-Stick</h5>
                                <iframe class="img-rounded" src="contact" frameborder="1" scrolling="auto" allowtransparency="true" name="main" style="width:100%;height:180px;" ></iframe>  
                                <div class="clearfix"></div>                                  
                              </div>
                              <div class="col-md-6 col-sm-12 col-xs-12 noPaddingLeft text-center">
                                <div style="vertical-align:middle;height:215px;">
                                  <h5>Genric</h5>
                                  <br /><br />
                                  <form action="" method="post">{% csrf_token %}
                                    <div class="btn-group btn-group-sm">
                                      <input type="button" name="MotionPath" value="LEFT" onclick="btnCall();" class="btn btn-info btn-group-md"/>
                                    </div>
                                    <div class="btn-group-vertical btn-group-sm">
                                      <input type="button" name="MotionPath" value="FRONT" onclick="btnCall();" class="btn btn-info btn-group-md"/>
                                      <input type="button" name="MotionPath" value="STOP" onclick="btnCall();" class="btn btn-info btn-group-md"/>
                                      <input type="button" name="MotionPath" value="BACK" onclick="btnCall();" class="btn btn-info btn-group-md"/>
                                    </div>
                                   <div class="btn-group btn-group-sm">
                                      <input type="button" name="MotionPath" value="RIGHT" onclick="btnCall();" class="btn btn-info btn-group-md"/>
                                    </div>
                                  </form>
                                </div>
                                <div class="clearfix"></div>
                              </div>
                              <div class="clearfix"></div>
                            </div>
                          </div>                                                            
                        </div>
                      </div>
                      <!-- Left and right controls -->
                      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
              </div>
            </div>
              
        </div>
    </div>    
    <!-- second row -->
  </div>
  <script type="text/javascript">
    
    function btnCall() {
     
      $.ajax({
            url: "/cockpit-update/",
            type: 'POST',
            dataType: 'json',
            data: {
              csrfmiddlewaretoken : "{{ csrf_token }}"
            },
            success: function(data) {
              if(data.status) {
                console.log(data);
              }
            },
            error: function(xhr, status, error) {
              console.log(error);
            }
          });
    }
  </script>
</body>
{% endblock %}
