﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>{{ title }} - My Django Application</title>
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/cdnjs/cdnjs/master/ajax/libs/kineticjs/4.7.2/kinetic.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
    {#<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>#}
   <script>
        $(document).ready(function(){$('[data-toggle="popover"]').popover();});
   </script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">BotEvolution</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Cockpit</a></li>
                    <li><a href="{% url 'about' %}">Workflow</a></li>
                    <!-- <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'playvideo' %}">Play Video</a></li> -->
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>

    <div class="container body-content">
{% block content %}{% endblock %}
        <hr/>
  <!--      <footer>
            <p>&copy; {{ year }} - My Django Application</p>
        </footer>  -->
    </div>
    
    {#<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>#}
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
