{% extends "app/layout.html" %}
{% load static %} 
{% block content %}
<!-- New line 
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
                      -->
<style>
  body {
      position: relative;
  }
  ul.nav-pills {
      top: 20px;
      position: fixed;
  }
  div.col-sm-9 div {
      height: px;
      font-size: 28px;
  }
  #video {color: #fff; background-color: #87CEFA;}
  #light {color: #fff; background-color: #00FF7F;}
  #motion {color: #fff; background-color: #ff9800;}
  #camera {color: #fff; background-color: #00bcd4;}

  @media screen and (max-width: 810px) {
    #video, #light, #motion, #camera  {
        margin-left: 150px;
    }
  }
</style>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img{
      width: auto;
      margin: auto;
  }
  .carousel-inner > .item > h3  {
      margin-left: 100px;
      align-content: center;
  }  
  .carousel-inner > .item > h3,
  .carousel-inner > .item > iframe  {
      margin:auto;
      align-content: center;
  }
  .carousel-control {
    width: 5%;
}
.btn-space {
    margin-right: 5px;
}
  </style>
<script type="text/javascript">
  $(function() {
      $('#simple_sketch').sketch('color', '#f0f');
      $("#clearSketch").click(function () {
          var canvas = document.getElementById('simple_sketch');
          canvas.getContext('2d').clearRect(0, 0, 500, 170);
          $('#simple_sketch').sketch('actions', []);
      });
  });
</script>
<body>
	<div class="container">
		<div class="row">
			<nav class="col-sm-3" id="myScrollspy">
				<ul class="nav nav-pills nav-stacked">
              {% for menuitem in NavMenu %}
					<li >
						<a href="#{{menuitem.NavMenu}}">
							<button type="button" class="btn {{menuitem.NavColor}}">
								<span class="glyphicon {{menuitem.NavIcon}}"/> {{menuitem.NavTitle}}
							</button>
						</a>
					</li>
              {% endfor %}   
				</ul>
			</nav>
			<div class="col-sm-9">
                <div id="video">
                    <h3>Video Control</h3>

                </div>
                <div id="light">
                    <h3>Light Control</h3>
                     <div style="float:left; margin-right: 50px; vertical-align:middle;">

                     </div>
                     <div style="float:right; margin-right: 50px; vertical-align:middle;">

                     </div>
                </div>
                <div id="camera">
                    <h3>View Eye Vision</h3>
                    <div style="float:right; margin-right: 50px; vertical-align:middle;">
                        <form action="" method="post">{% csrf_token %}
                            <div class="btn-group-vertical btn-group-md  btn-space">
                                <input type="submit" name="CameraAction" value="Start View" class="btn btn-success"/>
                                <input type="submit" name="CameraAction" value="Take Picture" class="btn btn-warning"/>
                                <input type="submit" name="CameraAction" value="Stop View"  class="btn btn-danger"/>
                            </div>
                        </form>
                    </div>
                    <div style="float:left; margin-right: 50px; vertical-align:middle;">
                        <img src="http://onlinecheasonghourmoneyonline.weebly.com/uploads/5/1/4/2/51422057/2506871_orig.jpg" style="margin-left:50px;width:340px;height:280px;position: relative;left: 0;top: 0;z-index: 3;opacity: 0.9;" />
                        <!--
                        <iframe src="http://192.168.1.85:8081/" frameborder="1"scrolling="auto" allowtransparency="true" name="main" style="width:340px;height:280px; margin-left:50px;" ></iframe>       
                        -->
                    </div>
                </div>
                <div id="motion">
                    <h3></h3>
                    <div class="demo">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel"  data-interval="false">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                          </ol>
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active" >
                              <img src="../../static/app/images/LightBulb.png" />
                            </div>
                            <div class="item" text-align="center">
                                <h3 style="margin-left: 50px;">Draw Path</h3>
                                <div style="float:left">
                                <iframe src="DrawPathIframe.html" name="iframe_a" width="550" height="200" style="border:2px solid grey;margin-left: 100px;"></iframe>
                                    </div>
                                <div style="float:initial">
                                    <form action="" method="post">{% csrf_token %}
                                        <div class="btn-group-vertical">
                                            <input type="submit" name="MotionPath" value="Start on Path" class="btn btn-success btn-sm"/>
                                            <input type="submit" name="MotionPath" value="Stop on Path"  class="btn btn-danger btn-sm"/>
                                            <input type="button" name="MotionPath" value="Clear Path"  class="btn btn-info btn-sm"  id="clearSketch"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="item">
                                <h3 style="margin-left: 50px;">Navigation Control</h3>
                                <div style="float:left; margin-left: 50px;">
                                    <h5>Joy-Stick</h5>
                                    <svg width="200" height="200">
                                       <circle cx="100" cy="100" r="95" stroke="red" stroke-width="9" fill="white" />
                                       <circle cx="100" cy="100" r="65" stroke="orange" stroke-width="9" fill="white" />
                                       <circle cx="100" cy="100" r="40" stroke="blue" stroke-width="2" fill="red" />
                                       Sorry, your browser does not support inline SVG.
                                    </svg>
                                </div>
                                <div style="float:right; margin-right: 50px; vertical-align:middle;">
                                    <h5>Genric</h5>
                                    <form action="" method="post">{% csrf_token %}
                                      <div class="btn-group btn-group-sm">
                                        <input type="button" name="MotionPath" value="LEFT"  class="btn btn-info btn-sm"/>
                                      </div>
                                      <div class="btn-group-vertical btn-group-sm">
                                        <input type="button" name="MotionPath" value="FRONT" class="btn btn-info btn-sm"/>
                                        <input type="button" name="MotionPath" value="STOP"  class="btn btn-info btn-sm"/>
                                        <input type="button" name="MotionPath" value="BACK"  class="btn btn-info btn-sm"/>
                                      </div>
                                     <div class="btn-group btn-group-sm">
                                        <input type="button" name="MotionPath" value="RIGHT"  class="btn btn-info btn-sm"/>
                                      </div>
                                    </form>
                                </div>                            
                            </div>
                          </div>
                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                    </div>   
                </div>
			</div>
		</div>
	</div>


	<!--

    <div class="container">
       <div class="row">
        <nav class="col-sm-3" id="myScrollspy">
          <ul class="nav nav-pills nav-stacked">
            <li ><a href="#section1">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-camera"></span> Camera Eye
                </button>
                </a>
              </li>
            <li><a href="#section2">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-move"></span> Motion Control
                </button>
                </a>
              </li>
            <li><a href="#section3">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-film"></span> Play Movies
                </button>
                </a>
              </li>
            <li><a href="#section4">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-fire"></span> Light Control
                </button>
                </a>
              </li>        
          </ul>
        </nav>
        <div class="col-sm-9">
          <div id="section1">
            <h1>Section 1</h1>
            <p>Try to scroll this section and look at the navigation list while scrolling!</p>
          </div>
          <div id="section2">
            <h1>Section 2</h1>
            <p>Try to scroll this section and look at the navigation list while scrolling!</p>
          </div>
          <div id="section3">
            <h1>Section 3</h1>
            <p>Try to scroll this section and look at the navigation list while scrolling!</p>
          </div>
          <div id="section4">
            <h1>Section 4</h1>
            <p>Try to scroll this section and look at the navigation list while scrolling!</p>
          </div>
        </div>
  </div>
</div>



    <br /><br />
    <!--
      <div id="ControllerGUI">
        <div class="row">                     
            <div class="col-sm-4" style="background-color:#e6ffe6 ;">
                <div class="container-fluid">
                    <div align="left">  <a href="#" title="Header" data-toggle="popover" data-placement="left" data-content="Content">Front</a></div>
                    <div align="center">
                        <svg height="180" width="180">
                              <path d="M 30 120 L 50 120 C 50 120 100 100 85 50 C 85 50 120 20 135 150 L 115 150 C 115 150 105 175 75 150 L 50 150  L 45 160 L 40 150 L 30 150 C 30 150 20 135 30 120 Z"  fill="grey"/>
                              <rect x="20" y="120" rx="5" ry="5" width="20" height="30" style="fill:red;stroke:black;stroke-width:2;opacity:0.8"/>                       
                              <rect x="120" y="120" rx="5" ry="5" width="20" height="30" style="fill:red;stroke:black;stroke-width:2;opacity:0.8"/>
                              Sorry, your browser does not support inline SVG.
                         </svg>       
                       </div>    
                     <div align="right">  <a href="#" title="Header" data-toggle="popover" data-placement="right" data-content="Content">Rear</a></div>          
                </div>
            </div>
            <div class="col-sm-4" style="background-color:lavender;">
                <form action="" method="post">{% csrf_token %}
                    <input type="submit" name="CameraAction" value="StartView" class="btn btn-success btn-xs"/>
                    <input type="submit" name="CameraAction" value="StopView"  class="btn btn-warning btn-xs"/>
                </form>
                <br />
                <iframe src="http://192.168.1.85:8081/" frameborder="1"scrolling="auto" allowtransparency="true" name="main" style="width:100%;height:100%" >
                  <p>Your browser does not support iframes.</p>
                </iframe>
            </div>
             
            <div class="col-sm-4" style="background-color:#e6ffe6 ;">
                <h5>Navigator</h5>
                <ul class="nav nav-pills">
                    <li><a href="#">Directions</a></li>
                    <li><a href="#">Draw Path</a></li>
                    <li><a href="#">Routines</a></li>
                </ul>
            </div>
        </div>
    </div>
    -->

</body>


<address>

	<div class="container">
		<h3>RT1000 Controllers</h3>
  {#<p>
			<strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>#}
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Movie Playback Menu</a>
					</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse in">
					<div class="panel-body">
						<form action="" method="post">{% csrf_token %}
							<input type="submit" name="VideoAction" value="setHomePage" />
							<input type="submit" name="VideoAction" value="AngryBird" />
							<input type="submit" name="VideoAction" value="Home" />
						</form>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Mobility Menu</a>
					</h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse">
					<div class="panel-body">
						<form action="" method="post">{% csrf_token %}
							<input type="submit" name="MotorAction" value="SetupMotors" />
							<input type="submit" name="MotorAction" value="MoveFront" />
							<input type="submit" name="MotorAction" value="MoveBack" />
							<input type="submit" name="MotorAction" value="TurnLeft" />
							<input type="submit" name="MotorAction" value="TurnRight" />
						</form>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Camera View Menu</a>
					</h4>
				</div>
				<div id="collapse3" class="panel-collapse collapse">
					<div class="panel-body">
						<form action="" method="post">{% csrf_token %}
							<input type="submit" name="CameraAction" value="StartView" />
							<input type="submit" name="CameraAction" value="StopView" />
						</form>
						<iframe src="http://192.168.1.85:8081/" frameborder="0" scrolling="no" onload="resizeIframe(this)" >
							<p>Your browser does not support iframes.</p>
						</iframe>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Jquery Call Back</a>
					</h4>
				</div>
				<div id="collapse4" class="panel-collapse collapse">
					<div class="panel-body">
						<form action="" method="post"  id="JqueryCallBackId">{% csrf_token %}
							<input type="submit" name="JqueryCallBack" value="CallBack" />
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>


</address>
<!--
<div>
            {% for item in MenuContent %}
								<h5>{{item.Content| safe}}</h5>
					
            {% endfor %}
    </div>
    -->

{% endblock %}
